# ======================
# Archivos de Android Studio / IntelliJ
# ======================
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# ======================
# Gradle
# ======================
.gradle/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
.kotlinc/

# ======================
# Archivos locales
# ======================
local.properties
*.keystore
*.jks

# ======================
# Archivos de sistema
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs y reportes
# ======================
*.log
*.hprof

# ======================
# Test / Coverage
# ======================
coverage/
